[Unit]
Description=Campus Ambassador Portal

[Service]
ExecStart=/home/ec2-user/ca_portal/server/build/index.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/ca_portal/server

[Install]
WantedBy=multi-user.target